In [22]:
import pandas as pd
import numpy as np

In [23]:
import pandas as pd

test = pd.read_csv('./test.csv')
train = pd.read_csv('./titanic_train.csv')

print("Dimensions of train: {}".format(train.shape))
print("Dimensions of test: {}".format(test.shape))

Dimensions of train: (891, 12)
Dimensions of test: (418, 11)

In [24]:
print(test.head())
print(train.head())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [25]:
def handle_non_numerical_data(df):
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))

    return df

test=handle_non_numerical_data(test)
train=handle_non_numerical_data(train)
print(test.head())

   PassengerId  Pclass  Name  Sex   Age  SibSp  Parch  Ticket     Fare  Cabin  \
0          892       3   103    1  34.5      0      0      27   7.8292      0
1          893       3   190    0  47.0      1      0     262   7.0000      0
2          894       2   248    1  62.0      0      0      76   9.6875      0
3          895       3   353    1  27.0      0      0     316   8.6625      0
4          896       3   398    0  22.0      1      1     142  12.2875      0

   Embarked
0         1
1         0
2         1
3         0
4         0

In [26]:
print(train.head())

   PassengerId  Survived  Pclass  Name  Sex   Age  SibSp  Parch  Ticket  \
0            1         0       3   311    1  22.0      1      0     197
1            2         1       1   208    0  38.0      1      0     602
2            3         1       3    78    0  26.0      0      0     465
3            4         1       1   172    0  35.0      1      0     536
4            5         0       3   699    1  35.0      0      0     454

      Fare  Cabin  Embarked
0   7.2500      0         2
1  71.2833    147         3
2   7.9250      0         2
3  53.1000      7         2
4   8.0500      0         2

In [27]:
print(train.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [28]:
features=['Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
target=['Survived']

In [53]:
df=train[features]
holdout=test[features]
holdout.fillna(method='ffill',inplace=True)

/home/pritam/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:2754: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [30]:
print(df.head())
print(holdout.head())

   Pclass  Name  Sex   Age  SibSp  Parch  Ticket     Fare  Cabin  Embarked
0       3   311    1  22.0      1      0     197   7.2500      0         2
1       1   208    0  38.0      1      0     602  71.2833    147         3
2       3    78    0  26.0      0      0     465   7.9250      0         2
3       1   172    0  35.0      1      0     536  53.1000      7         2
4       3   699    1  35.0      0      0     454   8.0500      0         2
   Pclass  Name  Sex   Age  SibSp  Parch  Ticket     Fare  Cabin  Embarked
0       3   103    1  34.5      0      0      27   7.8292      0         1
1       3   190    0  47.0      1      0     262   7.0000      0         0
2       2   248    1  62.0      0      0      76   9.6875      0         1
3       3   353    1  27.0      0      0     316   8.6625      0         0
4       3   398    0  22.0      1      1     142  12.2875      0         0

In [31]:
print(df)

     Pclass  Name  Sex   Age  SibSp  Parch  Ticket      Fare  Cabin  Embarked
0         3   311    1  22.0      1      0     197    7.2500      0         2
1         1   208    0  38.0      1      0     602   71.2833    147         3
2         3    78    0  26.0      0      0     465    7.9250      0         2
3         1   172    0  35.0      1      0     536   53.1000      7         2
4         3   699    1  35.0      0      0     454    8.0500      0         2
5         3   350    1   NaN      0      0     474    8.4583      0         1
6         1   777    1  54.0      0      0     633   51.8625     78         2
7         3   862    1   2.0      3      1     622   21.0750      0         2
8         3   764    0  27.0      0      2     325   11.1333      0         2
9         2   732    0  14.0      1      0     601   30.0708      0         3
10        3   780    0   4.0      1      1     190   16.7000    131         2
11        1   106    0  58.0      0      0     360   26.5500      8         2
12        3   849    1  20.0      0      0     261    8.0500      0         2
13        3   837    1  39.0      1      5     157   31.2750      0         2
14        3   593    0  14.0      0      0     514    7.8542      0         2
15        2   442    0  55.0      0      0     616   16.0000      0         2
16        3   832    1   2.0      4      1      73   29.1250      0         1
17        2   183    1   NaN      0      0     482   13.0000      0         2
18        3    33    0  31.0      1      0     248   18.0000      0         2
19        3   637    0   NaN      0      0      29    7.2250      0         3
20        2   869    1  35.0      0      0     366   26.0000      0         2
21        2   445    1  34.0      0      0     327   13.0000    116         2
22        3   661    0  15.0      0      0     350    8.0292      0         1
23        1   812    1  28.0      0      0     647   35.5000     66         2
24        3   846    0   8.0      3      1     622   21.0750      0         2
25        3   536    0  38.0      1      5      68   31.3875      0         2
26        3    25    1   NaN      0      0     561    7.2250      0         3
27        1   875    1  19.0      3      2     676  263.0000     88         2
28        3   566    0   NaN      0      0      37    7.8792      0         1
29        3   834    1   NaN      0      0      75    7.8958      0         2
..      ...   ...  ...   ...    ...    ...     ...       ...    ...       ...
861       2   628    1  21.0      1      0     178   11.5000      0         2
862       1   590    0  48.0      0      0     557   25.9292    129         2
863       3   328    0   NaN      8      2      35   69.5500      0         2
864       2   876    1  24.0      0      0     257   13.0000      0         2
865       2   698    0  42.0      0      0     591   13.0000      0         2
866       2     8    0  27.0      1      0     468   13.8583      0         3
867       1   487    1  31.0      0      0     156   50.4958     41         2
868       3   518    1   NaN      0      0     620    9.5000      0         2
869       3   345    1   4.0      1      1     325   11.1333      0         2
870       3   199    1  26.0      0      0      31    7.8958      0         2
871       1   721    0  47.0      1      1     345   52.5542    135         2
872       1   398    1  33.0      0      0     470    5.0000     87         2
873       3   483    1  47.0      0      0     314    9.0000      0         2
874       2   206    0  28.0      1      0     618   24.0000      0         3
875       3   444    0  15.0      0      0     662    7.2250      0         3
876       3    70    1  20.0      0      0      70    9.8458      0         2
877       3   828    1  19.0      0      0     164    7.8958      0         2
878       3   596    1   NaN      0      0     316    7.8958      0         2
879       1   306    0  56.0      0      1     205   83.1583    115         3
880       2   188    0  25.0      0      1     348   26.0000      0         2
881       3     7    1  33.0      0      0     645    7.8958      0         2
882       3   327    0  22.0      0      0     505   10.5167      0         2
883       2   196    1  28.0      0      0     417   10.5000      0         2
884       3   769    1  25.0      0      0     452    7.0500      0         2
885       3   514    0  39.0      0      5      73   29.1250      0         1
886       2   277    1  27.0      0      0     533   13.0000      0         2
887       1   174    0  19.0      0      0     448   30.0000     67         2
888       3   360    0   NaN      1      2     518   23.4500      0         2
889       1   219    1  26.0      0      0     118   30.0000     10         3
890       3   257    1  32.0      0      0      83    7.7500      0         1

[891 rows x 10 columns]

In [32]:
#del df['PassengerId']

In [33]:
print(df.head())

   Pclass  Name  Sex   Age  SibSp  Parch  Ticket     Fare  Cabin  Embarked
0       3   311    1  22.0      1      0     197   7.2500      0         2
1       1   208    0  38.0      1      0     602  71.2833    147         3
2       3    78    0  26.0      0      0     465   7.9250      0         2
3       1   172    0  35.0      1      0     536  53.1000      7         2
4       3   699    1  35.0      0      0     454   8.0500      0         2

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

In [35]:
print(train.head())

   PassengerId  Survived  Pclass  Name  Sex   Age  SibSp  Parch  Ticket  \
0            1         0       3   311    1  22.0      1      0     197
1            2         1       1   208    0  38.0      1      0     602
2            3         1       3    78    0  26.0      0      0     465
3            4         1       1   172    0  35.0      1      0     536
4            5         0       3   699    1  35.0      0      0     454

      Fare  Cabin  Embarked
0   7.2500      0         2
1  71.2833    147         3
2   7.9250      0         2
3  53.1000      7         2
4   8.0500      0         2

In [36]:
y=train['Survived']
print(y.head())

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [41]:
df['Age'].fillna(method='ffill',inplace=True)

/home/pritam/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3660: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [42]:
x_train,x_test,y_train,y_test=train_test_split(df,y,test_size=0.2)

In [43]:
from sklearn.linear_model import LogisticRegression

In [44]:
clf=LogisticRegression()

In [45]:
print(clf)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [46]:
clf.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [47]:
predictions=clf.predict(x_test)

In [48]:
print(predictions[:10])
print(y.head(10))

[0 1 0 1 0 0 0 0 1 0]
0    0
1    1
2    1
3    1
4    0
5    0
6    0
7    0
8    1
9    1
Name: Survived, dtype: int64

In [49]:
clf.score(x_test,y_test)

0.75977653631284914

In [50]:
accuracy=roc_auc_score(predictions,y_test)

In [51]:
print(accuracy)

0.747214673913

In [54]:
submission=clf.predict(holdout)

In [55]:
print(submission)
print(type(submission))

[0 0 0 0 0 0 1 0 1 0 0 0 1 0 1 1 0 0 0 1 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 1
 1 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 1 0
 1 1 0 1 0 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0
 0 0 1 0 0 0 0 0 1 1 0 0 1 0 1 0 0 0 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 1 0 0 0 0 0 0 0 1 0 1 0 1 0
 1 0 1 0 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 0 0 1 1 0 1 0 0 1 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 0 1 1 1 1 0 1 0 0 0]
<class 'numpy.ndarray'>

In [56]:
holdout_ids=test['PassengerId']

In [57]:
submission={"PassengerId":holdout_ids,"Survived":submission}

In [58]:
submission=pd.DataFrame(submission)

In [59]:
print(submission)

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         1
20           912         0
21           913         0
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         1
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         0
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [62]:
submission.to_csv('submission.csv',index=False)

In [63]:
sb=pd.read_csv('submission.csv')

In [64]:
print(sb.head())

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0