In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

In [83]:
train_set=pd.read_csv('./train.csv')
test_set=pd.read_csv('./test.csv')
print(train_set.head())
#print(test_set.head())

  portfolio_id      desk_id    office_id pf_category  start_date         sold  \
0   PF00001002  DSK00001001  OFF00001002           B    20040720  110000000.0
1   PF00001003  DSK00001002  OFF00001001           A    20040709  176671000.0
2   PF00001005  DSK00001004  OFF00001001           A    20040723   56474000.0
3   PF00001006  DSK00001005  OFF00001001           A    20040609  164813000.0
4   PF00001007  DSK00001005  OFF00001002           B    20040609  140800000.0

  country_code  euribor_rate currency  libor_rate        bought  \
0            T       0.02074      USD    2.332216  1.098097e+08
1            N       0.02074      GBP    5.269617  1.760084e+08
2            T       0.02074      USD    2.332216  5.637953e+07
3            T       0.02074      USD    2.332216  1.645088e+08
4            T       0.02074      USD    2.332216  1.405402e+08

   creation_date indicator_code  sell_date type hedge_value status   return
0       20040720            NaN   20040812    B         NaN    NaN  0.02496
1       20040723            NaN   20040812    C         NaN    NaN  0.05496
2       20040723            NaN   20040817    A         NaN    NaN  0.02496
3       20040723            NaN   20040713    A         NaN    NaN  0.02496
4       20040723            NaN   20040713    B         NaN    NaN  0.02496

In [6]:
print(train_set['sold'].describe())
print(len(train_set['sold']))

count    9.364000e+03
mean     1.019740e+08
std      1.928066e+08
min      1.100000e+00
25%      2.763200e+07
50%      5.517050e+07
75%      1.144632e+08
max      1.320000e+10
Name: sold, dtype: float64
9366

In [8]:
port_id=test_set['portfolio_id']
print(port_id)

0       PF00001001
1       PF00001004
2       PF00001009
3       PF00001013
4       PF00001014
5       PF00001015
6       PF00001017
7       PF00001023
8       PF00001024
9       PF00001025
10      PF00001028
11      PF00001032
12      PF00001036
13      PF00001041
14      PF00001045
15      PF00001047
16      PF00001049
17      PF00001053
18      PF00001060
19      PF00001067
20      PF00001068
21      PF00001069
22      PF00001077
23      PF00001078
24      PF00001085
25      PF00001086
26      PF00001087
27      PF00001088
28      PF00001092
29      PF00001095
           ...
4771    PF00014432
4772    PF00014465
4773    PF00014643
4774    PF00014644
4775    PF00014645
4776    PF00014717
4777    PF00014757
4778    PF00014750
4779    PF00014751
4780    PF00014752
4781    PF00014754
4782    PF00014756
4783    PF00014769
4784    PF00014772
4785    PF00014774
4786    PF00014777
4787    PF00014826
4788    PF00015291
4789    PF00013540
4790    PF00013541
4791    PF00013543
4792    PF00013544
4793    PF00013742
4794    PF00014031
4795    PF00014093
4796    PF00014118
4797    PF00014120
4798    PF00014123
4799    PF00014127
4800    PF00014147
Name: portfolio_id, Length: 4801, dtype: object

In [10]:
def handle_non_numerical_data(df):
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))

    return df

#df = handle_non_numerical_data(df)
#print(df.head())
train_set=handle_non_numerical_data(train_set)
test_set=handle_non_numerical_data(test_set)

In [11]:
print(train_set.head())
print(test_set.head())

   portfolio_id  desk_id  office_id  pf_category  start_date         sold  \
0          7241     3479          1            4    20040720  110000000.0
1          2914      526          0            3    20040709  176671000.0
2          8126     2538          0            3    20040723   56474000.0
3          1477     2645          0            3    20040609  164813000.0
4          4834     2645          1            4    20040609  140800000.0

   country_code  euribor_rate  currency  libor_rate        bought  \
0             1       0.02074         0    2.332216  1.098097e+08
1             3       0.02074         4    5.269617  1.760084e+08
2             1       0.02074         0    2.332216  5.637953e+07
3             1       0.02074         0    2.332216  1.645088e+08
4             1       0.02074         0    2.332216  1.405402e+08

   creation_date  indicator_code  sell_date  type  hedge_value  status  \
0       20040720               0   20040812     6            0       0
1       20040723               0   20040812     0            0       0
2       20040723               0   20040817     5            0       0
3       20040723               0   20040713     5            0       0
4       20040723               0   20040713     6            0       0

    return
0  0.02496
1  0.05496
2  0.02496
3  0.02496
4  0.02496
   portfolio_id  desk_id  office_id  pf_category  start_date         sold  \
0          2471     1921          0            0    20040720  171831000.0
1          4381      409          1            1    20040723   56485000.0
2           132     1775          0            0    20040607   41734000.0
3          4547      828          0            0    20040716   82951000.0
4          1292     1623          0            0    20040713   73293000.0

   country_code  euribor_rate  currency  libor_rate        bought  \
0             1       0.02074         0    2.332216  1.715337e+08
1             1       0.02074         0    2.332216  5.638038e+07
2             1       0.02074         0    2.332216  4.166179e+07
3             1       0.02074         0    2.332216  8.250936e+07
4             1       0.02074         0    2.332216  7.317055e+07

   creation_date  indicator_code  sell_date  type  hedge_value  status
0       20040720               0   20040812     4            0       0
1       20040723               0   20040719     5            0       0
2       20040726               0   20040709     4            0       0
3       20040726               0   20041019     4            0       0
4       20040726               0   20040813     4            0       0

In [12]:
print(train_set.columns)

Index(['portfolio_id', 'desk_id', 'office_id', 'pf_category', 'start_date',
       'sold', 'country_code', 'euribor_rate', 'currency', 'libor_rate',
       'bought', 'creation_date', 'indicator_code', 'sell_date', 'type',
       'hedge_value', 'status', 'return'],
      dtype='object')

In [16]:
feature=['portfolio_id', 'desk_id', 'office_id', 'pf_category', 'start_date',
       'sold', 'country_code', 'euribor_rate', 'currency', 'libor_rate',
       'bought', 'creation_date', 'indicator_code', 'sell_date', 'type',
       'hedge_value', 'status']
target=['return']

In [17]:
train=train_set[feature]
test=test_set[feature]

In [52]:
print(test.head())
rn=test
del rn['portfolio_id']
print(rn.head())

   portfolio_id  desk_id  office_id  pf_category  start_date         sold  \
0          2471     1921          0            0    20040720  171831000.0
1          4381      409          1            1    20040723   56485000.0
2           132     1775          0            0    20040607   41734000.0
3          4547      828          0            0    20040716   82951000.0
4          1292     1623          0            0    20040713   73293000.0

   country_code  euribor_rate  currency  libor_rate        bought  \
0             1       0.02074         0    2.332216  1.715337e+08
1             1       0.02074         0    2.332216  5.638038e+07
2             1       0.02074         0    2.332216  4.166179e+07
3             1       0.02074         0    2.332216  8.250936e+07
4             1       0.02074         0    2.332216  7.317055e+07

   creation_date  indicator_code  sell_date  type  hedge_value  status
0       20040720               0   20040812     4            0       0
1       20040723               0   20040719     5            0       0
2       20040726               0   20040709     4            0       0
3       20040726               0   20041019     4            0       0
4       20040726               0   20040813     4            0       0
   desk_id  office_id  pf_category  start_date         sold  country_code  \
0     1921          0            0    20040720  171831000.0             1
1      409          1            1    20040723   56485000.0             1
2     1775          0            0    20040607   41734000.0             1
3      828          0            0    20040716   82951000.0             1
4     1623          0            0    20040713   73293000.0             1

   euribor_rate  currency  libor_rate        bought  creation_date  \
0       0.02074         0    2.332216  1.715337e+08       20040720
1       0.02074         0    2.332216  5.638038e+07       20040723
2       0.02074         0    2.332216  4.166179e+07       20040726
3       0.02074         0    2.332216  8.250936e+07       20040726
4       0.02074         0    2.332216  7.317055e+07       20040726

   indicator_code  sell_date  type  hedge_value  status
0               0   20040812     4            0       0
1               0   20040719     5            0       0
2               0   20040709     4            0       0
3               0   20041019     4            0       0
4               0   20040813     4            0       0

In [18]:
y=train_set[target]

In [19]:
print(train.head())
print(y.head())

   portfolio_id  desk_id  office_id  pf_category  start_date         sold  \
0          7241     3479          1            4    20040720  110000000.0
1          2914      526          0            3    20040709  176671000.0
2          8126     2538          0            3    20040723   56474000.0
3          1477     2645          0            3    20040609  164813000.0
4          4834     2645          1            4    20040609  140800000.0

   country_code  euribor_rate  currency  libor_rate        bought  \
0             1       0.02074         0    2.332216  1.098097e+08
1             3       0.02074         4    5.269617  1.760084e+08
2             1       0.02074         0    2.332216  5.637953e+07
3             1       0.02074         0    2.332216  1.645088e+08
4             1       0.02074         0    2.332216  1.405402e+08

   creation_date  indicator_code  sell_date  type  hedge_value  status
0       20040720               0   20040812     6            0       0
1       20040723               0   20040812     0            0       0
2       20040723               0   20040817     5            0       0
3       20040723               0   20040713     5            0       0
4       20040723               0   20040713     6            0       0
    return
0  0.02496
1  0.05496
2  0.02496
3  0.02496
4  0.02496

In [26]:
print(train_set.head())
#print()
print()
#print(train_set['currency'].value_counts())

   portfolio_id  desk_id  office_id  pf_category  start_date         sold  \
0          7241     3479          1            4    20040720  110000000.0
1          2914      526          0            3    20040709  176671000.0
2          8126     2538          0            3    20040723   56474000.0
3          1477     2645          0            3    20040609  164813000.0
4          4834     2645          1            4    20040609  140800000.0

   country_code  euribor_rate  currency  libor_rate        bought  \
0             1       0.02074         0    2.332216  1.098097e+08
1             3       0.02074         4    5.269617  1.760084e+08
2             1       0.02074         0    2.332216  5.637953e+07
3             1       0.02074         0    2.332216  1.645088e+08
4             1       0.02074         0    2.332216  1.405402e+08

   creation_date  indicator_code  sell_date  type  hedge_value  status  \
0       20040720               0   20040812     6            0       0
1       20040723               0   20040812     0            0       0
2       20040723               0   20040817     5            0       0
3       20040723               0   20040713     5            0       0
4       20040723               0   20040713     6            0       0

    return
0  0.02496
1  0.05496
2  0.02496
3  0.02496
4  0.02496

In [27]:
del train['portfolio_id']

In [28]:
print(train.head())

   desk_id  office_id  pf_category  start_date         sold  country_code  \
0     3479          1            4    20040720  110000000.0             1
1      526          0            3    20040709  176671000.0             3
2     2538          0            3    20040723   56474000.0             1
3     2645          0            3    20040609  164813000.0             1
4     2645          1            4    20040609  140800000.0             1

   euribor_rate  currency  libor_rate        bought  creation_date  \
0       0.02074         0    2.332216  1.098097e+08       20040720
1       0.02074         4    5.269617  1.760084e+08       20040723
2       0.02074         0    2.332216  5.637953e+07       20040723
3       0.02074         0    2.332216  1.645088e+08       20040723
4       0.02074         0    2.332216  1.405402e+08       20040723

   indicator_code  sell_date  type  hedge_value  status
0               0   20040812     6            0       0
1               0   20040812     0            0       0
2               0   20040817     5            0       0
3               0   20040713     5            0       0
4               0   20040713     6            0       0

In [31]:
from sklearn import preprocessing

In [33]:
train.fillna(method='ffill',inplace=True)
test.fillna(method='ffill',inplace=True)

/home/pritam/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:2754: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [34]:
train_scaled=preprocessing.scale(train)
test_scaled=preprocessing.scale(test)

/home/pritam/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:164: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "

In [36]:
x_train,x_test,y_train,y_test=train_test_split(train_scaled,y,test_size=0.1)

In [37]:
clf=LogisticRegression()

In [38]:
print(y.head())

    return
0  0.02496
1  0.05496
2  0.02496
3  0.02496
4  0.02496

In [69]:
from sklearn.linear_model import LinearRegression

In [70]:
clf=LinearRegression()

In [71]:
clf.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [72]:
predictions=clf.predict(x_test)

In [73]:
print(predictions[:10])

[[ 0.00449568]
 [ 0.01136218]
 [ 0.00356718]
 [ 0.00610895]
 [ 0.01020586]
 [ 0.00431624]
 [ 0.0115459 ]
 [ 0.00866116]
 [ 0.00490948]
 [ 0.05571484]]

In [74]:
print(y_test.head(10))

        return
7624  0.016200
7181  0.009360
5255  0.001800
2264  0.002760
4622  0.009240
6143  0.002640
1669  0.009048
3615  0.002520
4902  0.002280
1196  0.061800

In [75]:
clf.score(x_test,y_test)

0.89450598104554147

In [76]:
sub1=clf.predict(rn)

In [77]:
print(sub1)

[[ 504140.13277956]
 [ 200078.56777082]
 [ 149668.61420307]
 ...,
 [  44615.43333379]
 [  45956.15677952]
 [  52216.64789853]]

In [84]:
port_id=test_set['portfolio_id']
print(port_id.head())

0    PF00001001
1    PF00001004
2    PF00001009
3    PF00001013
4    PF00001014
Name: portfolio_id, dtype: object

In [96]:
#print(type(sub1))
#print(sub1[:10])
arr=[]
for i in sub1:
    for j in i:
        arr.append(j)

In [98]:
#print(arr)
arr=np.array(arr)
print(arr)

[ 504140.13277956  200078.56777082  149668.61420307 ...,   44615.43333379
   45956.15677952   52216.64789853]

In [ ]:
#submission={"PassengerId":holdout_ids,"Survived":submission}

In [105]:
submission={"portfolio_id":port_id,
     "return":arr}

In [106]:
print(submission)

{'portfolio_id': 0       PF00001001
1       PF00001004
2       PF00001009
3       PF00001013
4       PF00001014
5       PF00001015
6       PF00001017
7       PF00001023
8       PF00001024
9       PF00001025
10      PF00001028
11      PF00001032
12      PF00001036
13      PF00001041
14      PF00001045
15      PF00001047
16      PF00001049
17      PF00001053
18      PF00001060
19      PF00001067
20      PF00001068
21      PF00001069
22      PF00001077
23      PF00001078
24      PF00001085
25      PF00001086
26      PF00001087
27      PF00001088
28      PF00001092
29      PF00001095
           ...
4771    PF00014432
4772    PF00014465
4773    PF00014643
4774    PF00014644
4775    PF00014645
4776    PF00014717
4777    PF00014757
4778    PF00014750
4779    PF00014751
4780    PF00014752
4781    PF00014754
4782    PF00014756
4783    PF00014769
4784    PF00014772
4785    PF00014774
4786    PF00014777
4787    PF00014826
4788    PF00015291
4789    PF00013540
4790    PF00013541
4791    PF00013543
4792    PF00013544
4793    PF00013742
4794    PF00014031
4795    PF00014093
4796    PF00014118
4797    PF00014120
4798    PF00014123
4799    PF00014127
4800    PF00014147
Name: portfolio_id, Length: 4801, dtype: object, 'return': array([ 504140.13277956,  200078.56777082,  149668.61420307, ...,
         44615.43333379,   45956.15677952,   52216.64789853])}

In [107]:
submission=pd.DataFrame(submission)

In [108]:
print(submission)

     portfolio_id        return
0      PF00001001  5.041401e+05
1      PF00001004  2.000786e+05
2      PF00001009  1.496686e+05
3      PF00001013  7.048001e+05
4      PF00001014  2.291688e+05
5      PF00001015  1.766173e+06
6      PF00001017  2.401625e+05
7      PF00001023  1.634786e+05
8      PF00001024  7.167773e+05
9      PF00001025  1.168056e+06
10     PF00001028  6.689340e+05
11     PF00001032  1.415992e+05
12     PF00001036  1.763732e+05
13     PF00001041  9.461882e+05
14     PF00001045  1.560530e+05
15     PF00001047  1.438264e+05
16     PF00001049  2.008794e+05
17     PF00001053  1.200224e+06
18     PF00001060  2.648006e+05
19     PF00001067  3.446627e+05
20     PF00001068  4.926652e+05
21     PF00001069  8.352042e+05
22     PF00001077  2.640241e+05
23     PF00001078  4.757182e+05
24     PF00001085  2.005668e+05
25     PF00001086  1.027968e+06
26     PF00001087  3.787429e+05
27     PF00001088  1.925328e+05
28     PF00001092  3.159568e+05
29     PF00001095  1.241906e+05
...           ...           ...
4771   PF00014432  3.383444e+04
4772   PF00014465  6.320496e+04
4773   PF00014643  1.699536e+05
4774   PF00014644  8.213297e+04
4775   PF00014645  3.097654e+04
4776   PF00014717  1.380916e+04
4777   PF00014757 -2.773661e+03
4778   PF00014750  5.890461e+04
4779   PF00014751  5.185808e+04
4780   PF00014752  5.465395e+04
4781   PF00014754  4.022366e+04
4782   PF00014756  2.001937e+04
4783   PF00014769  5.768572e+04
4784   PF00014772  5.230934e+04
4785   PF00014774  2.679059e+04
4786   PF00014777  2.918761e+04
4787   PF00014826  1.849845e+04
4788   PF00015291  1.476586e+05
4789   PF00013540  2.319443e+05
4790   PF00013541  4.435994e+04
4791   PF00013543  2.096306e+05
4792   PF00013544  5.874929e+04
4793   PF00013742  3.874885e+04
4794   PF00014031  8.307300e+04
4795   PF00014093  3.424474e+04
4796   PF00014118  5.180668e+04
4797   PF00014120  7.563094e+04
4798   PF00014123  4.461543e+04
4799   PF00014127  4.595616e+04
4800   PF00014147  5.221665e+04

[4801 rows x 2 columns]

In [81]:
samp=pd.read_csv('./sample_submission.csv')

In [82]:
print(samp.head())

  portfolio_id    return
0   PF00001001  0.079456
1   PF00001004  0.076026
2   PF00001009  0.058746
3   PF00001013  0.022700
4   PF00001014  0.036714

In [109]:
submission.to_csv('submission.csv',index=False)

In [110]:
sub=pd.read_csv('./submission.csv')

In [111]:
print(sub.head())

  portfolio_id         return
0   PF00001001  504140.132780
1   PF00001004  200078.567771
2   PF00001009  149668.614203
3   PF00001013  704800.086767
4   PF00001014  229168.770793

In [113]:
print(train_set.head())
#print(test_set.head())

  portfolio_id      desk_id    office_id pf_category  start_date         sold  \
0   PF00001002  DSK00001001  OFF00001002           B    20040720  110000000.0
1   PF00001003  DSK00001002  OFF00001001           A    20040709  176671000.0
2   PF00001005  DSK00001004  OFF00001001           A    20040723   56474000.0
3   PF00001006  DSK00001005  OFF00001001           A    20040609  164813000.0
4   PF00001007  DSK00001005  OFF00001002           B    20040609  140800000.0

  country_code  euribor_rate currency  libor_rate        bought  \
0            T       0.02074      USD    2.332216  1.098097e+08
1            N       0.02074      GBP    5.269617  1.760084e+08
2            T       0.02074      USD    2.332216  5.637953e+07
3            T       0.02074      USD    2.332216  1.645088e+08
4            T       0.02074      USD    2.332216  1.405402e+08

   creation_date indicator_code  sell_date type hedge_value status   return
0       20040720            NaN   20040812    B         NaN    NaN  0.02496
1       20040723            NaN   20040812    C         NaN    NaN  0.05496
2       20040723            NaN   20040817    A         NaN    NaN  0.02496
3       20040723            NaN   20040713    A         NaN    NaN  0.02496
4       20040723            NaN   20040713    B         NaN    NaN  0.02496

In [114]:
train=train_set

In [115]:
del train['sell_date']

In [116]:
print(train_set.head())

  portfolio_id      desk_id    office_id pf_category  start_date         sold  \
0   PF00001002  DSK00001001  OFF00001002           B    20040720  110000000.0
1   PF00001003  DSK00001002  OFF00001001           A    20040709  176671000.0
2   PF00001005  DSK00001004  OFF00001001           A    20040723   56474000.0
3   PF00001006  DSK00001005  OFF00001001           A    20040609  164813000.0
4   PF00001007  DSK00001005  OFF00001002           B    20040609  140800000.0

  country_code  euribor_rate currency  libor_rate        bought  \
0            T       0.02074      USD    2.332216  1.098097e+08
1            N       0.02074      GBP    5.269617  1.760084e+08
2            T       0.02074      USD    2.332216  5.637953e+07
3            T       0.02074      USD    2.332216  1.645088e+08
4            T       0.02074      USD    2.332216  1.405402e+08

   creation_date indicator_code type hedge_value status   return
0       20040720            NaN    B         NaN    NaN  0.02496
1       20040723            NaN    C         NaN    NaN  0.05496
2       20040723            NaN    A         NaN    NaN  0.02496
3       20040723            NaN    A         NaN    NaN  0.02496
4       20040723            NaN    B         NaN    NaN  0.02496

In [117]:
train_set=pd.read_csv('./train.csv')
test_set=pd.read_csv('./test.csv')
print(train_set.head())
#print(test_set.head())

  portfolio_id      desk_id    office_id pf_category  start_date         sold  \
0   PF00001002  DSK00001001  OFF00001002           B    20040720  110000000.0
1   PF00001003  DSK00001002  OFF00001001           A    20040709  176671000.0
2   PF00001005  DSK00001004  OFF00001001           A    20040723   56474000.0
3   PF00001006  DSK00001005  OFF00001001           A    20040609  164813000.0
4   PF00001007  DSK00001005  OFF00001002           B    20040609  140800000.0

  country_code  euribor_rate currency  libor_rate        bought  \
0            T       0.02074      USD    2.332216  1.098097e+08
1            N       0.02074      GBP    5.269617  1.760084e+08
2            T       0.02074      USD    2.332216  5.637953e+07
3            T       0.02074      USD    2.332216  1.645088e+08
4            T       0.02074      USD    2.332216  1.405402e+08

   creation_date indicator_code  sell_date type hedge_value status   return
0       20040720            NaN   20040812    B         NaN    NaN  0.02496
1       20040723            NaN   20040812    C         NaN    NaN  0.05496
2       20040723            NaN   20040817    A         NaN    NaN  0.02496
3       20040723            NaN   20040713    A         NaN    NaN  0.02496
4       20040723            NaN   20040713    B         NaN    NaN  0.02496

In [118]:
print(train_set.columns)

Index(['portfolio_id', 'desk_id', 'office_id', 'pf_category', 'start_date',
       'sold', 'country_code', 'euribor_rate', 'currency', 'libor_rate',
       'bought', 'creation_date', 'indicator_code', 'sell_date', 'type',
       'hedge_value', 'status', 'return'],
      dtype='object')

In [119]:
feature=['desk_id', 'office_id', 'pf_category', 'start_date',
       'sold', 'country_code', 'euribor_rate', 'currency', 'libor_rate',
       'bought', 'sell_date', 'type']

In [120]:
target=['return']

In [121]:
train=train_set[feature]
test=test_set[feature]

In [122]:
def handle_strings(df):
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))

    return df

train=handle_strings(train)
test=handle_strings(test)
print(train.head())

/home/pritam/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   desk_id  office_id  pf_category  start_date         sold  country_code  \
0     3479          1            4    20040720  110000000.0             1
1      526          0            3    20040709  176671000.0             3
2     2538          0            3    20040723   56474000.0             1
3     2645          0            3    20040609  164813000.0             1
4     2645          1            4    20040609  140800000.0             1

   euribor_rate  currency  libor_rate        bought  sell_date  type
0       0.02074         0    2.332216  1.098097e+08   20040812     6
1       0.02074         4    5.269617  1.760084e+08   20040812     0
2       0.02074         0    2.332216  5.637953e+07   20040817     5
3       0.02074         0    2.332216  1.645088e+08   20040713     5
4       0.02074         0    2.332216  1.405402e+08   20040713     6

In [123]:
y=train_set[target]

In [124]:
print(y.head())

    return
0  0.02496
1  0.05496
2  0.02496
3  0.02496
4  0.02496

In [134]:
train.fillna(train.mean(),inplace=True)

/home/pritam/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3660: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

,desk_id,office_id,pf_category,start_date,sold,country_code,euribor_rate,currency,libor_rate,bought,sell_date,type
0,3479,1,4,20040720,110000000.0,1,0.02074,0,2.332216,1.098097e+08,20040812,6
1,526,0,3,20040709,176671000.0,3,0.02074,4,5.269617,1.760084e+08,20040812,0
2,2538,0,3,20040723,56474000.0,1,0.02074,0,2.332216,5.637953e+07,20040817,5
3,2645,0,3,20040609,164813000.0,1,0.02074,0,2.332216,1.645088e+08,20040713,5
4,2645,1,4,20040609,140800000.0,1,0.02074,0,2.332216,1.405402e+08,20040713,6
5,2544,0,3,20040707,48741000.0,1,0.02074,0,2.332216,4.865127e+07,20040810,5
6,929,0,3,20040706,60593500.0,1,0.02074,0,2.332216,6.048181e+07,20040809,5
7,929,1,4,20040706,134200000.0,1,0.02074,0,2.332216,1.339526e+08,20040809,6
8,1599,0,3,20040419,82929000.0,1,0.02074,0,2.332216,8.250616e+07,20040720,5
9,1459,0,3,20040414,212476000.0,1,0.02074,0,2.332216,2.114140e+08,20040713,5
10,1356,0,3,20040611,77099000.0,1,0.02075,0,2.181960,7.696082e+07,20040716,5
11,2504,1,4,20040805,134200000.0,1,0.02075,0,2.181960,1.339678e+08,20040908,6
12,2504,0,3,20040805,54989000.0,1,0.02075,0,2.181960,5.489385e+07,20040908,5
13,1482,0,3,20040809,61567000.0,1,0.02075,0,2.181960,6.146098e+07,20040909,5
14,3916,0,3,20040511,80201000.0,1,0.02075,0,2.181960,7.977902e+07,20040812,5
15,2225,0,3,20040810,204941000.0,1,0.02075,0,2.181960,2.038207e+08,20040913,5
16,2617,1,4,20040810,88000000.0,1,0.02075,0,2.181960,8.783779e+07,20040913,6
17,2576,0,3,20040811,120296000.0,1,0.02075,0,2.181960,1.200740e+08,20040914,5
18,3025,0,3,20040720,59037000.0,1,0.02075,0,2.181960,5.893813e+07,20040827,5
19,2235,1,4,20040812,44077000.0,1,0.02075,0,2.181960,4.400073e+07,20040915,6
20,2249,0,3,20040812,71885000.0,1,0.02075,0,2.181960,7.176091e+07,20040915,5
21,3245,0,3,20040825,44726000.0,1,0.02075,0,2.181960,4.464088e+07,20040929,5
22,299,1,4,20040906,134200000.0,1,0.02076,0,2.367102,1.339678e+08,20041008,6
23,3223,0,3,20040907,89100000.0,1,0.02076,0,2.367102,8.893557e+07,20041011,5
24,2104,0,3,20040909,159995000.0,1,0.02076,0,2.367102,1.591349e+08,20041214,5
25,2849,0,3,20040909,176704000.0,3,0.02076,4,5.176733,1.760067e+08,20041013,0
26,1906,1,4,20040909,88000000.0,1,0.02076,0,2.367102,8.784773e+07,20041013,6
27,3369,0,3,20040910,38819000.0,1,0.02076,0,2.367102,3.875183e+07,20041014,5
28,2105,0,3,20040910,73557000.0,1,0.02076,0,2.367102,7.342972e+07,20041014,5
29,88,0,3,20040913,68343000.0,1,0.02076,0,2.367102,6.822489e+07,20041015,5
...,...,...,...,...,...,...,...,...,...,...,...,...
9336,0,1,4,20151026,22000000.0,1,-0.00113,0,0.837866,2.199934e+07,20151126,6
9337,0,0,3,20151211,150700000.0,1,-0.00161,0,0.989865,1.506848e+08,20160314,5
9338,0,1,4,20151211,44000000.0,1,-0.00161,0,0.989865,4.399905e+07,20160114,6
9339,0,1,0,20160526,66000000.0,2,-0.00343,2,-0.451273,6.588252e+07,20160824,2
9340,0,1,4,20160601,143000000.0,3,-0.00343,4,0.863342,1.429866e+08,20160608,0
9341,0,1,0,20160527,44000000.0,2,-0.00343,2,-0.451273,4.398106e+07,20160627,2
9342,0,1,0,20160527,138039000.0,2,-0.00343,2,-0.451273,1.380269e+08,20160603,2
9343,0,1,0,20160614,114785000.0,2,-0.00349,2,-0.556873,1.147750e+08,20160621,2
9344,0,1,4,20160616,82500000.0,3,-0.00349,4,0.960652,8.246168e+07,20160718,0
9345,0,1,4,20160622,125268000.0,3,-0.00349,4,0.960652,1.252562e+08,20160629,0
9346,0,1,4,20160622,55000000.0,1,-0.00349,0,1.259223,5.501305e+07,20160822,6
9347,0,1,0,20160620,110000000.0,2,-0.00349,2,-0.556873,1.098900e+08,20160819,2
9348,0,1,0,20160620,15741000.0,2,-0.00349,2,-0.556873,1.573962e+07,20160627,2
9349,0,1,0,20160620,53636000.0,2,-0.00349,2,-0.556873,5.363131e+07,20160627,2
9350,0,0,3,20160621,62293000.0,1,-0.00349,0,1.259223,6.231370e+07,20160921,5
9351,0,1,0,20160621,114400000.0,2,-0.00349,2,-0.556873,1.143900e+08,20160628,2
9352,0,1,0,20160621,98637000.0,2,-0.00349,2,-0.556873,9.862837e+07,20160628,2
9353,0,1,0,20160621,71445000.0,2,-0.00349,2,-0.556873,7.143875e+07,20160628,2
9354,0,0,3,20160623,84150000.0,1,-0.00349,0,1.259223,8.417797e+07,20160923,5
9355,0,1,4,20160623,34100000.0,1,-0.00349,0,1.259223,3.410455e+07,20160725,6
9356,0,1,0,20160623,66099000.0,2,-0.00349,2,-0.556873,6.609322e+07,20160630,2
9357,0,1,0,20160623,77704000.0,2,-0.00349,2,-0.556873,7.769720e+07,20160630,2
9358,0,1,0,20160623,18381000.0,2,-0.00349,2,-0.556873,1.837939e+07,20160630,2
9359,0,1,0,20160623,32978000.0,2,-0.00349,2,-0.556873,3.297762e+07,20160624,2
9360,0,1,0,20160624,127952000.0,2,-0.00349,2,-0.556873,1.279472e+08,20160627,2
9361,0,1,0,20160624,17864000.0,2,-0.00349,2,-0.556873,1.786333e+07,20160627,2
9362,0,1,0,20160624,82500000.0,2,-0.00349,2,-0.556873,8.249198e+07,20160701,2
9363,0,1,0,20160628,110000000.0,2,-0.00349,2,-0.556873,1.099893e+08,20160705,2
9364,0,1,0,20160628,33000000.0,2,-0.00349,2,-0.556873,3.299679e+07,20160705,2
9365,0,1,0,20160628,89562000.0,2,-0.00349,2,-0.556873,8.955329e+07,20160705,2

In [155]:
train['sold']/=train['sold'].max()
train['start_date']/=train['start_date'].max()
train['bought']/=train['bought'].max()
train['sell_date']/=train['sell_date'].max()
del train['desk_id']
print(train.head())

   office_id  pf_category  start_date      sold  country_code  euribor_rate  \
0          1            4    0.993540  0.008333             1       0.02074
1          0            3    0.993539  0.013384             3       0.02074
2          0            3    0.993540  0.004278             1       0.02074
3          0            3    0.993534  0.012486             1       0.02074
4          1            4    0.993534  0.010667             1       0.02074

   currency  libor_rate    bought  sell_date  type
0         0    2.332216  0.008319   0.993544     6
1         4    5.269617  0.013334   0.993544     0
2         0    2.332216  0.004271   0.993545     5
3         0    2.332216  0.012463   0.993539     5
4         0    2.332216  0.010647   0.993539     6

/home/pritam/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/pritam/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/pritam/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/pritam/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [156]:
print(train.head())

   office_id  pf_category  start_date      sold  country_code  euribor_rate  \
0          1            4    0.993540  0.008333             1       0.02074
1          0            3    0.993539  0.013384             3       0.02074
2          0            3    0.993540  0.004278             1       0.02074
3          0            3    0.993534  0.012486             1       0.02074
4          1            4    0.993534  0.010667             1       0.02074

   currency  libor_rate    bought  sell_date  type
0         0    2.332216  0.008319   0.993544     6
1         4    5.269617  0.013334   0.993544     0
2         0    2.332216  0.004271   0.993545     5
3         0    2.332216  0.012463   0.993539     5
4         0    2.332216  0.010647   0.993539     6

In [157]:
train_scaled=preprocessing.scale(train)

In [158]:
print(train_scaled)

[[ 0.67103965  1.5992461  -2.50066009 ...,  0.04108764 -2.51196994
   1.85426182]
 [-1.49022491  0.98557276 -2.50102041 ...,  0.3845913  -2.51196994
  -1.75321947]
 [-1.49022491  0.98557276 -2.50056182 ..., -0.23615988 -2.51180658
   1.25301493]
 ...,
 [ 0.67103965 -0.85544728  1.42710181 ...,  0.0420198   1.4051594
  -0.55072571]
 [ 0.67103965 -0.85544728  1.42710181 ..., -0.35749229  1.4051594
  -0.55072571]
 [ 0.67103965 -0.85544728  1.42710181 ..., -0.06402212  1.4051594
  -0.55072571]]

In [168]:
print(train_set.columns)

Index(['portfolio_id', 'desk_id', 'office_id', 'pf_category', 'start_date',
       'sold', 'country_code', 'euribor_rate', 'currency', 'libor_rate',
       'bought', 'creation_date', 'indicator_code', 'sell_date', 'type',
       'hedge_value', 'status', 'return'],
      dtype='object')

In [173]:
feature=['desk_id', 'office_id', 'pf_category', 'start_date',
       'sold', 'country_code', 'euribor_rate', 'currency', 'libor_rate',
       'bought', 'creation_date', 'indicator_code', 'sell_date', 'type',
       'hedge_value', 'status']
target=['return']

In [177]:
train1=train_set[feature]
train1['desk_id']=train_set['desk_id']
test1=test_set[feature]

/home/pritam/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [179]:
def handle_strings(df):
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))

    return df

train1=handle_strings(train1)
test1=handle_strings(test1)
print(train1.head())

   desk_id  office_id  pf_category  start_date         sold  country_code  \
0     3479          1            4    20040720  110000000.0             1
1      526          0            3    20040709  176671000.0             3
2     2538          0            3    20040723   56474000.0             1
3     2645          0            3    20040609  164813000.0             1
4     2645          1            4    20040609  140800000.0             1

   euribor_rate  currency  libor_rate        bought  creation_date  \
0       0.02074         0    2.332216  1.098097e+08       20040720
1       0.02074         4    5.269617  1.760084e+08       20040723
2       0.02074         0    2.332216  5.637953e+07       20040723
3       0.02074         0    2.332216  1.645088e+08       20040723
4       0.02074         0    2.332216  1.405402e+08       20040723

   indicator_code  sell_date  type  hedge_value  status
0               0   20040812     6            0       0
1               0   20040812     0            0       0
2               0   20040817     5            0       0
3               0   20040713     5            0       0
4               0   20040713     6            0       0

In [180]:
y=train_set[target]

In [190]:
train1.fillna(method='ffill',inplace=True)
test1.fillna(method='ffill',inplace=True)

/home/pritam/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:2754: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [191]:
train_scaled=preprocessing.scale(train1)
holdout=preprocessing.scale(test1)

/home/pritam/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:164: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "

In [192]:
x_train,x_test,y_train,y_test=train_test_split(train1,y,test_size=0.1,random_state=42)

In [204]:
from sklearn import svm
from sklearn.tree import DecisionTreeRegressor

In [207]:
clf=DecisionTreeRegressor()

In [208]:
clf.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [209]:
clf.score(x_test,y_test)

0.29888820448854558

In [212]:
print(train_set.head())
print(train_set.columns)

  portfolio_id      desk_id    office_id pf_category  start_date         sold  \
0   PF00001002  DSK00001001  OFF00001002           B    20040720  110000000.0
1   PF00001003  DSK00001002  OFF00001001           A    20040709  176671000.0
2   PF00001005  DSK00001004  OFF00001001           A    20040723   56474000.0
3   PF00001006  DSK00001005  OFF00001001           A    20040609  164813000.0
4   PF00001007  DSK00001005  OFF00001002           B    20040609  140800000.0

  country_code  euribor_rate currency  libor_rate        bought  \
0            T       0.02074      USD    2.332216  1.098097e+08
1            N       0.02074      GBP    5.269617  1.760084e+08
2            T       0.02074      USD    2.332216  5.637953e+07
3            T       0.02074      USD    2.332216  1.645088e+08
4            T       0.02074      USD    2.332216  1.405402e+08

   creation_date indicator_code  sell_date type hedge_value status   return
0       20040720            NaN   20040812    B         NaN    NaN  0.02496
1       20040723            NaN   20040812    C         NaN    NaN  0.05496
2       20040723            NaN   20040817    A         NaN    NaN  0.02496
3       20040723            NaN   20040713    A         NaN    NaN  0.02496
4       20040723            NaN   20040713    B         NaN    NaN  0.02496
Index(['portfolio_id', 'desk_id', 'office_id', 'pf_category', 'start_date',
       'sold', 'country_code', 'euribor_rate', 'currency', 'libor_rate',
       'bought', 'creation_date', 'indicator_code', 'sell_date', 'type',
       'hedge_value', 'status', 'return'],
      dtype='object')

In [217]:
feature=['desk_id', 'office_id', 'pf_category', 'start_date',
       'sold', 'country_code', 'euribor_rate', 'currency', 'libor_rate',
       'bought', 'creation_date', 'indicator_code', 'sell_date', 'type',
       'hedge_value', 'status']
target=['return']

In [219]:
train1=train_set[feature]
test1=test_set[feature]

In [220]:
y=train_set[target]

In [221]:
def handle_strings(df):
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))

    return df

train1=handle_strings(train1)
test1=handle_strings(test1)
print(train1.head())

/home/pritam/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   desk_id  office_id  pf_category  start_date         sold  country_code  \
0     3479          1            4    20040720  110000000.0             1
1      526          0            3    20040709  176671000.0             3
2     2538          0            3    20040723   56474000.0             1
3     2645          0            3    20040609  164813000.0             1
4     2645          1            4    20040609  140800000.0             1

   euribor_rate  currency  libor_rate        bought  creation_date  \
0       0.02074         0    2.332216  1.098097e+08       20040720
1       0.02074         4    5.269617  1.760084e+08       20040723
2       0.02074         0    2.332216  5.637953e+07       20040723
3       0.02074         0    2.332216  1.645088e+08       20040723
4       0.02074         0    2.332216  1.405402e+08       20040723

   indicator_code  sell_date  type  hedge_value  status
0               0   20040812     6            0       0
1               0   20040812     0            0       0
2               0   20040817     5            0       0
3               0   20040713     5            0       0
4               0   20040713     6            0       0

In [222]:
train1.fillna(train1.mean(),inplace=True)
test1.fillna(test1.mean(),inplace=True)

/home/pritam/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3660: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

,desk_id,office_id,pf_category,start_date,sold,country_code,euribor_rate,currency,libor_rate,bought,creation_date,indicator_code,sell_date,type,hedge_value,status
0,1921,0,0,20040720,171831000.0,1,0.02074,0,2.332216,1.715337e+08,20040720,0,20040812,4,0,0
1,409,1,1,20040723,56485000.0,1,0.02074,0,2.332216,5.638038e+07,20040723,0,20040719,5,0,0
2,1775,0,0,20040607,41734000.0,1,0.02074,0,2.332216,4.166179e+07,20040726,0,20040709,4,0,0
3,828,0,0,20040716,82951000.0,1,0.02074,0,2.332216,8.250936e+07,20040726,0,20041019,4,0,0
4,1623,0,0,20040713,73293000.0,1,0.02074,0,2.332216,7.317055e+07,20040726,0,20040813,4,0,0
5,1714,0,0,20040710,212553000.0,1,0.02074,0,2.332216,2.114103e+08,20040727,0,20041013,4,0,0
6,1456,0,0,20040804,72831000.0,1,0.02075,0,2.181960,7.270110e+07,20040804,0,20040816,4,0,0
7,1782,0,0,20040712,44088000.0,1,0.02075,0,2.181960,4.400673e+07,20040809,0,20040816,4,0,0
8,1995,0,0,20040810,80234000.0,1,0.02075,0,2.181960,7.978402e+07,20040810,0,20041116,4,0,0
9,352,0,0,20040810,176748000.0,3,0.02075,4,5.024006,1.760042e+08,20040810,0,20040913,0,0,0
10,1476,0,0,20040810,218839500.0,1,0.02075,0,2.181960,2.184361e+08,20040810,0,20040913,4,0,0
11,1528,0,0,20040707,40029000.0,1,0.02075,0,2.181960,3.996204e+07,20040811,0,20040813,4,0,0
12,158,0,0,20040906,51535000.0,1,0.02076,0,2.367102,5.144583e+07,20040906,0,20041008,4,0,0
13,1078,0,0,20040909,334070000.0,1,0.02076,0,2.367102,3.334919e+08,20040909,0,20041013,4,0,0
14,2084,1,1,20040913,44077000.0,1,0.02076,0,2.367102,4.400073e+07,20040913,0,20041015,5,0,0
15,236,0,0,20040927,39545000.0,1,0.02076,0,2.367102,3.947649e+07,20040927,0,20041029,4,0,0
16,189,0,0,20041006,56441000.0,1,0.02079,0,2.469197,5.633584e+07,20041006,0,20041109,4,0,0
17,338,0,0,20041011,176770000.0,3,0.02079,4,5.043244,1.760046e+08,20041011,0,20041115,0,0,0
18,1396,0,0,20041013,74283000.0,1,0.02079,0,2.469197,7.413666e+07,20041013,0,20041117,4,0,0
19,1712,0,0,20041028,105886000.0,1,0.02079,0,2.469197,1.056892e+08,20041028,0,20041130,4,0,0
20,1230,0,0,20040915,173052000.0,1,0.02079,0,2.469197,1.727625e+08,20041028,0,20041015,4,0,0
21,551,0,0,20040816,293337000.0,1,0.02079,0,2.469197,2.928294e+08,20041028,0,20040916,4,0,0
22,1061,0,0,20040909,78760000.0,1,0.02093,0,2.803864,7.861465e+07,20041105,0,20041012,4,0,0
23,1857,0,0,20041108,165286000.0,1,0.02093,0,2.803864,1.650071e+08,20041108,0,20041209,4,0,0
24,2071,1,1,20041110,63800000.0,1,0.02093,0,2.803864,6.369581e+07,20041110,0,20041213,5,0,0
25,79,0,0,20041110,176660000.0,3,0.02093,4,5.001250,1.760105e+08,20041110,0,20041213,0,0,0
26,1758,0,0,20041110,128722000.0,1,0.02093,0,2.803864,1.285046e+08,20041110,0,20041214,4,0,0
27,1806,0,0,20041112,60632000.0,1,0.02093,0,2.803864,6.053289e+07,20041112,0,20041214,4,0,0
28,406,0,0,20041112,99187000.0,1,0.02093,0,2.803864,9.900881e+07,20041112,0,20041115,4,0,0
29,909,1,1,20041115,33000000.0,1,0.02093,0,2.803864,3.294403e+07,20041115,0,20041216,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4771,0,1,1,20160926,34100000.0,1,-0.00372,0,1.556031,3.410512e+07,20160922,1,20161026,5,2,1
4772,0,1,2,20160929,90497000.0,2,-0.00372,2,-0.484520,9.048820e+07,20160929,1,20161006,1,2,1
4773,0,1,2,20161118,33000000.0,2,-0.00374,2,-0.494991,3.291338e+07,20161117,1,20170216,1,2,1
4774,0,1,1,20161121,82500000.0,3,-0.00374,4,0.805149,8.247763e+07,20161117,1,20161221,0,2,1
4775,0,1,1,20161121,44000000.0,1,-0.00374,0,1.602965,4.400807e+07,20161117,1,20161221,5,2,1
4776,0,0,0,20161207,63976000.0,1,-0.00372,0,1.517476,6.399771e+07,20161207,1,20170109,4,2,1
4777,0,1,1,20161219,278300000.0,1,-0.00372,0,1.517476,2.783551e+08,20161215,1,20170119,5,2,1
4778,0,1,2,20161214,63767000.0,2,-0.00372,2,-0.456118,6.375832e+07,20161214,1,20161221,1,2,1
4779,0,1,2,20161214,44000000.0,2,-0.00372,2,-0.456118,4.399401e+07,20161214,1,20161221,1,2,1
4780,0,1,2,20161214,51843000.0,2,-0.00372,2,-0.456118,5.183594e+07,20161214,1,20161221,1,2,1
4781,0,1,2,20161214,11363000.0,2,-0.00372,2,-0.456118,1.136145e+07,20161214,1,20161221,1,2,1
4782,0,1,1,20161219,41250000.0,1,-0.00372,0,1.517476,4.126516e+07,20161215,1,20170220,5,2,1
4783,0,1,2,20161216,55000000.0,2,-0.00372,2,-0.456118,5.499123e+07,20161216,1,20161223,1,2,1
4784,0,1,2,20161216,64647000.0,2,-0.00372,2,-0.456118,6.464285e+07,20161216,1,20161219,1,2,1
4785,0,0,0,20161221,15950000.0,1,-0.00372,0,1.517476,1.595798e+07,20161219,1,20170321,4,2,1
4786,0,1,1,20161221,44000000.0,1,-0.00372,0,1.517476,4.400928e+07,20161219,1,20170123,5,2,1
4787,0,0,0,20161229,52877000.0,1,-0.00372,0,1.517476,5.289440e+07,20161229,1,20170130,4,2,1
4788,0,1,2,20170512,253198000.0,2,-0.00157,2,-0.445557,2.531493e+08,20170512,1,20170519,1,2,1
4789,0,1,1,20151214,82500000.0,3,-0.00161,4,0.960371,8.237677e+07,20151210,1,20160314,0,2,1
4790,0,1,1,20151211,44000000.0,1,-0.00161,0,0.989865,4.399905e+07,20151210,1,20160114,5,2,1
4791,0,1,2,20151210,68838000.0,2,-0.00161,2,-0.589765,6.872838e+07,20151210,1,20160310,1,2,1
4792,0,1,2,20151210,105116000.0,2,-0.00161,2,-0.589765,1.051117e+08,20151210,1,20151217,1,2,1
4793,0,1,1,20160225,22000000.0,1,-0.00232,0,1.140769,2.200055e+07,20160224,1,20160526,5,2,1
4794,0,1,2,20160527,164989000.0,2,-0.00343,2,-0.451273,1.649746e+08,20160527,1,20160603,1,2,1
4795,0,1,1,20160616,44000000.0,1,-0.00349,0,1.259223,4.400587e+07,20160614,1,20160718,5,2,1
4796,0,1,2,20160621,55000000.0,2,-0.00349,2,-0.556873,5.499519e+07,20160621,1,20160628,1,2,1
4797,0,1,2,20160621,138809000.0,2,-0.00349,2,-0.556873,1.387969e+08,20160621,1,20160628,1,2,1
4798,0,1,1,20160622,28732000.0,3,-0.00349,4,0.960652,2.872930e+07,20160622,1,20160629,0,2,1
4799,0,1,2,20160623,34419000.0,2,-0.00349,2,-0.556873,3.441599e+07,20160623,1,20160630,1,2,1
4800,0,1,2,20160628,53713000.0,2,-0.00349,2,-0.556873,5.370778e+07,20160628,1,20160705,1,2,1

In [223]:
train1=preprocessing.scale(train1)
test1=preprocessing.scale(test1)

/home/pritam/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:164: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "

In [224]:
x_train,x_test,y_train,y_test=train_test_split(train1,y,test_size=0.1,random_state=42)

In [225]:
clf1=LinearRegression()
clf2=svm.SVR()
clf3=DecisionTreeRegressor()

In [226]:
clf1.fit(x_train,y_train)
clf2.fit(x_train,y_train)
clf3.fit(x_train,y_train)

/home/pritam/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [227]:
print(clf1.score(x_test,y_test))
print(clf2.score(x_test,y_test))
print(clf3.score(x_test,y_test))

0.28785441352
-6.58642019825
0.291137016925

In [228]:
print(clf2)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [230]:
clf2=svm.SVR(kernel='linear')
print(clf2)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [231]:
clf2.fit(x_train,y_train)

/home/pritam/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [232]:
predictions=clf2.predict(x_test)

In [233]:
from sklearn.metrics import roc_auc_score

In [237]:
clf2.score(x_test,y_test)

-5.9618102838741214

In [239]:
print(train_set.head())
print(train_set.columns)

  portfolio_id      desk_id    office_id pf_category  start_date         sold  \
0   PF00001002  DSK00001001  OFF00001002           B    20040720  110000000.0
1   PF00001003  DSK00001002  OFF00001001           A    20040709  176671000.0
2   PF00001005  DSK00001004  OFF00001001           A    20040723   56474000.0
3   PF00001006  DSK00001005  OFF00001001           A    20040609  164813000.0
4   PF00001007  DSK00001005  OFF00001002           B    20040609  140800000.0

  country_code  euribor_rate currency  libor_rate        bought  \
0            T       0.02074      USD    2.332216  1.098097e+08
1            N       0.02074      GBP    5.269617  1.760084e+08
2            T       0.02074      USD    2.332216  5.637953e+07
3            T       0.02074      USD    2.332216  1.645088e+08
4            T       0.02074      USD    2.332216  1.405402e+08

   creation_date indicator_code  sell_date type hedge_value status   return
0       20040720            NaN   20040812    B         NaN    NaN  0.02496
1       20040723            NaN   20040812    C         NaN    NaN  0.05496
2       20040723            NaN   20040817    A         NaN    NaN  0.02496
3       20040723            NaN   20040713    A         NaN    NaN  0.02496
4       20040723            NaN   20040713    B         NaN    NaN  0.02496
Index(['portfolio_id', 'desk_id', 'office_id', 'pf_category', 'start_date',
       'sold', 'country_code', 'euribor_rate', 'currency', 'libor_rate',
       'bought', 'creation_date', 'indicator_code', 'sell_date', 'type',
       'hedge_value', 'status', 'return'],
      dtype='object')

In [250]:
print(train_set['currency'].unique())
print(train_set['country_code'].unique())
print(train_set['pf_category'].unique())
print(train_set['office_id'].unique())

['USD' 'GBP' 'CHF' 'EUR' 'JPY']
['T' 'N' 'M' 'Z' 'U']
['B' 'A' 'C' 'D' 'E']
['OFF00001002' 'OFF00001001']

In [258]:
train_set['euribor_rate'].describe()

count    9366.000000
mean        0.009383
std         0.013298
min        -0.003740
25%         0.000980
50%         0.004390
75%         0.013510
max         0.050880
Name: euribor_rate, dtype: float64

In [260]:
feature=['office_id', 'pf_category',
       'sold', 'country_code', 'euribor_rate', 'currency', 'libor_rate',
       'bought','type']
target=['return']

In [261]:
train_new=train_set[feature]
test_new=test_set[feature]

In [263]:
def handle_strings(df):
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))

    return df

train_new=handle_strings(train_new)
test_new=handle_strings(test_new)

/home/pritam/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [264]:
print(test_new.head())

   office_id  pf_category         sold  country_code  euribor_rate  currency  \
0          0            0  171831000.0             1       0.02074         0
1          1            1   56485000.0             1       0.02074         0
2          0            0   41734000.0             1       0.02074         0
3          0            0   82951000.0             1       0.02074         0
4          0            0   73293000.0             1       0.02074         0

   libor_rate        bought  type
0    2.332216  1.715337e+08     4
1    2.332216  5.638038e+07     5
2    2.332216  4.166179e+07     4
3    2.332216  8.250936e+07     4
4    2.332216  7.317055e+07     4

In [266]:
train_new['profit']=train_set['sold']-train_set['bought']
print(train_new.head())

   office_id  pf_category         sold  country_code  euribor_rate  currency  \
0          1            4  110000000.0             1       0.02074         0
1          0            3  176671000.0             3       0.02074         4
2          0            3   56474000.0             1       0.02074         0
3          0            3  164813000.0             1       0.02074         0
4          1            4  140800000.0             1       0.02074         0

   libor_rate        bought  type         profit
0    2.332216  1.098097e+08     6  190336.749636
1    5.269617  1.760084e+08     0  662563.265958
2    2.332216  5.637953e+07     5   94467.039667
3    2.332216  1.645088e+08     5  304158.569044
4    2.332216  1.405402e+08     6  259843.134474

/home/pritam/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [269]:
print(train_new.columns)
test_new['profit']=test_new['sold']-test_new['bought']

Index(['office_id', 'pf_category', 'sold', 'country_code', 'euribor_rate',
       'currency', 'libor_rate', 'bought', 'type', 'profit'],
      dtype='object')

/home/pritam/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [270]:
features=['office_id', 'pf_category', 'country_code', 'euribor_rate',
       'currency', 'libor_rate','type', 'profit']
test_new=test_new[features]
train_new=train_new[features]

In [273]:
#print(train_new.head())
print(test_new.head())

   office_id  pf_category  country_code  euribor_rate  currency  libor_rate  \
0          0            0             1       0.02074         0    2.332216
1          1            1             1       0.02074         0    2.332216
2          0            0             1       0.02074         0    2.332216
3          0            0             1       0.02074         0    2.332216
4          0            0             1       0.02074         0    2.332216

   type         profit
0     4  297325.036602
1     5  104616.933025
2     4   72213.762808
3     4  441637.094767
4     4  122453.957571

In [291]:
train_new['profit'].fillna(train_new['profit'].mean(),inplace=True)
print(train_new['profit'].isnull().any())

False

In [293]:
test_new['profit'].fillna(test_new['profit'].mean(),inplace=True)

In [294]:
test_new['libor_rate'].fillna(test_new['libor_rate'].mean(),inplace=True)

In [295]:
train_new=preprocessing.scale(train_new)
test_new=preprocessing.scale(test_new)

In [448]:
clf=DecisionTreeRegressor(max_depth=10,min_samples_leaf=1)
print(clf)

DecisionTreeRegressor(criterion='mse', max_depth=10, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [449]:
clf.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=10, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [450]:
clf.score(x_test,y_test)

0.94904511804485503

In [301]:
predictions=clf.predict(test_new)

In [302]:
print(predictions)

[ 0.02662733  0.02662733  0.02662733 ...,  0.00666056  0.00578373
  0.00578373]

In [305]:
port_id=test_set['portfolio_id']
#print(port_id)

In [306]:
submission={"portfolio_id":port_id,"return":predictions}

In [307]:
submission=pd.DataFrame(submission)

In [308]:
print(submission)

     portfolio_id    return
0      PF00001001  0.026627
1      PF00001004  0.026627
2      PF00001009  0.026627
3      PF00001013  0.026627
4      PF00001014  0.026627
5      PF00001015  0.026627
6      PF00001017  0.047580
7      PF00001023  0.047580
8      PF00001024  0.048880
9      PF00001025  0.056560
10     PF00001028  0.048880
11     PF00001032  0.047580
12     PF00001036  0.026627
13     PF00001041  0.026627
14     PF00001045  0.026627
15     PF00001047  0.026627
16     PF00001049  0.026627
17     PF00001053  0.056560
18     PF00001060  0.026627
19     PF00001067  0.026627
20     PF00001068  0.026627
21     PF00001069  0.026627
22     PF00001077  0.026627
23     PF00001078  0.026627
24     PF00001085  0.026627
25     PF00001086  0.056560
26     PF00001087  0.026627
27     PF00001088  0.026627
28     PF00001092  0.026627
29     PF00001095  0.026627
...           ...       ...
4771   PF00014432 -0.002285
4772   PF00014465  0.006661
4773   PF00014643  0.028200
4774   PF00014644  0.006661
4775   PF00014645 -0.002285
4776   PF00014717 -0.002285
4777   PF00014757 -0.002285
4778   PF00014750  0.006661
4779   PF00014751  0.006661
4780   PF00014752  0.006661
4781   PF00014754  0.006661
4782   PF00014756 -0.002285
4783   PF00014769  0.006661
4784   PF00014772  0.006661
4785   PF00014774 -0.002285
4786   PF00014777 -0.002285
4787   PF00014826 -0.002285
4788   PF00015291  0.028200
4789   PF00013540  0.007344
4790   PF00013541  0.012394
4791   PF00013543  0.028200
4792   PF00013544  0.015181
4793   PF00013742 -0.000337
4794   PF00014031  0.006661
4795   PF00014093 -0.001753
4796   PF00014118  0.005784
4797   PF00014120  0.005784
4798   PF00014123  0.006661
4799   PF00014127  0.005784
4800   PF00014147  0.005784

[4801 rows x 2 columns]

In [309]:
submission.to_csv('submission2.csv',index=False)

In [310]:
samp=pd.read_csv('./submission2.csv')

In [311]:
print(samp.head())

  portfolio_id    return
0   PF00001001  0.026627
1   PF00001004  0.026627
2   PF00001009  0.026627
3   PF00001013  0.026627
4   PF00001014  0.026627

In [317]:
clf=LinearRegression()

In [318]:
clf.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [319]:
clf.score(x_test,y_test)

0.88773043315967104

In [488]:
x_train,x_test,y_train,y_test = train_test_split(train_new,y,test_size=0.1)

In [489]:
from sklearn.ensemble import RandomForestRegressor

In [490]:
clf=DecisionTreeRegressor(max_depth=10)
clf.fit(x_train,y_train)
#clf.score(x_test,y_test)

DecisionTreeRegressor(criterion='mse', max_depth=10, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [491]:
clf1=RandomForestRegressor(max_depth=7,n_jobs=-1)
clf2=LinearRegression()
clf2.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [492]:
clf1.fit(x_train,y_train)

/home/pritam/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=7,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [493]:
print(clf1.score(x_test,y_test))
print(clf.score(x_test,y_test))
print(clf2.score(x_test,y_test))

0.323287659283
0.315159361786
0.280844427233

In [496]:
predictions=clf.predict(test_new)
port_id=test_set['portfolio_id']
submission={"portfolio_id":port_id,"return":predictions}
submission=pd.DataFrame(submission)
submission.to_csv('submission3.csv',index=False)