In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

In [5]:
train_set=pd.read_csv('train.csv')
test_set=pd.read_csv('test.csv')

In [6]:
#print(train_set.head())
print(test_set.head())

  transaction_id     num_var_1  num_var_2  num_var_3     num_var_4  \
0           id_1  4.736842e-07   0.162737        0.0  2.105000e-06
1           id_6  6.578947e-08   0.086391        0.0  7.500000e-07
2           id_9  1.585526e-07   0.159987        0.0  2.105000e-06
3          id_14  8.552632e-08   0.088083        0.0  7.500000e-07
4          id_15  1.144737e-07   0.089563        0.0  3.550000e-07

      num_var_5     num_var_6     num_var_7 cat_var_1 cat_var_2    ...      \
0  2.769737e-07  4.828947e-07  1.300010e-07        da        tn    ...
1  1.315789e-07  9.868421e-08  3.186300e-08        pu        ce    ...
2  2.769737e-07  1.585526e-07  4.715724e-08        da        tn    ...
3  8.552632e-08  9.868421e-08  4.142190e-08        pu        ce    ...
4  4.671053e-08  4.407895e-08  1.452953e-07        gf        ce    ...

  cat_var_33 cat_var_34 cat_var_35 cat_var_36 cat_var_37 cat_var_38  \
0          0          0          0          0          0          0
1          0          0          0          0          0          0
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4          0          0          0          0          0          0

  cat_var_39 cat_var_40 cat_var_41 cat_var_42
0          0          0          0          0
1          0          0          0          0
2          0          0          0          0
3          0          0          0          0
4          0          0          0          0

[5 rows x 50 columns]

In [7]:
print(train_set.columns)

Index(['transaction_id', 'num_var_1', 'num_var_2', 'num_var_3', 'num_var_4',
       'num_var_5', 'num_var_6', 'num_var_7', 'cat_var_1', 'cat_var_2',
       'cat_var_3', 'cat_var_4', 'cat_var_5', 'cat_var_6', 'cat_var_7',
       'cat_var_8', 'cat_var_9', 'cat_var_10', 'cat_var_11', 'cat_var_12',
       'cat_var_13', 'cat_var_14', 'cat_var_15', 'cat_var_16', 'cat_var_17',
       'cat_var_18', 'cat_var_19', 'cat_var_20', 'cat_var_21', 'cat_var_22',
       'cat_var_23', 'cat_var_24', 'cat_var_25', 'cat_var_26', 'cat_var_27',
       'cat_var_28', 'cat_var_29', 'cat_var_30', 'cat_var_31', 'cat_var_32',
       'cat_var_33', 'cat_var_34', 'cat_var_35', 'cat_var_36', 'cat_var_37',
       'cat_var_38', 'cat_var_39', 'cat_var_40', 'cat_var_41', 'cat_var_42',
       'target'],
      dtype='object')

In [8]:
features=['num_var_1', 'num_var_2', 'num_var_3', 'num_var_4',
       'num_var_5', 'num_var_6', 'num_var_7', 'cat_var_1', 'cat_var_2',
       'cat_var_3', 'cat_var_4', 'cat_var_5', 'cat_var_6', 'cat_var_7',
       'cat_var_8', 'cat_var_9', 'cat_var_10']
target=['target']
train=train_set[features]
test=test_set[features]
y=train_set[target]

In [9]:
print(train.head())

      num_var_1  num_var_2  num_var_3     num_var_4     num_var_5  \
0  2.302632e-08   0.040182        0.0  1.800000e-07  2.302632e-08
1  7.965789e-06   0.157872        0.0  2.105000e-06  2.769737e-07
2  7.828947e-08   0.089140        0.0  3.550000e-07  4.671053e-08
3  7.894737e-08   0.227239        0.0  1.050000e-06  1.381579e-07
4  3.321053e-06   0.160410        0.0  2.105000e-06  2.769737e-07

      num_var_6     num_var_7 cat_var_1 cat_var_2 cat_var_3 cat_var_4  \
0  2.368421e-08  1.115205e-08       NaN        ce        db        ep
1  7.965789e-06  2.433058e-06        da        tn        zl        tn
2  1.052632e-07  4.276014e-07        gf        ce        gs        tn
3  2.190789e-07  1.848054e-08       NaN        ce        fy        ep
4  3.340789e-06  2.152983e-06        da        tn        zn        tn

  cat_var_5 cat_var_6 cat_var_7 cat_var_8 cat_var_9 cat_var_10
0        tn        mm        ep       NaN        tn         db
1        ep        hm        ep       NaN        hr         qt
2        ep        zs        ep        dn        hr         mm
3        ep        qw        ep        tk        ep         es
4        ep        hm        ep       NaN        ep         xy

In [10]:
print(test.head())

      num_var_1  num_var_2  num_var_3     num_var_4     num_var_5  \
0  4.736842e-07   0.162737        0.0  2.105000e-06  2.769737e-07
1  6.578947e-08   0.086391        0.0  7.500000e-07  1.315789e-07
2  1.585526e-07   0.159987        0.0  2.105000e-06  2.769737e-07
3  8.552632e-08   0.088083        0.0  7.500000e-07  8.552632e-08
4  1.144737e-07   0.089563        0.0  3.550000e-07  4.671053e-08

      num_var_6     num_var_7 cat_var_1 cat_var_2 cat_var_3 cat_var_4  \
0  4.828947e-07  1.300010e-07        da        tn        gt        tn
1  9.868421e-08  3.186300e-08        pu        ce       NaN        ep
2  1.585526e-07  4.715724e-08        da        tn        qz        tn
3  9.868421e-08  4.142190e-08        pu        ce        ex        ep
4  4.407895e-08  1.452953e-07        gf        ce       NaN        tn

  cat_var_5 cat_var_6 cat_var_7 cat_var_8 cat_var_9 cat_var_10
0        ep        hm        ep        da        iq         mp
1        tn        oi        ep        jo        tn         ep
2        ep        hm        ep        da        ce         ye
3        tn        no        ep        jo        hr         ip
4        tn        zs        ep        dn        iq         mm

In [11]:
from sklearn.metrics import roc_auc_score
from sklearn import preprocessing

In [13]:
def handle_strings(df):
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))

    return df

train=handle_strings(train)
test=handle_strings(test)

/home/pritam/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
train=preprocessing.scale(train)
test=preprocessing.scale(test)

In [15]:
x_train,x_test,y_train,y_test=train_test_split(train,y,test_size=0.1)

In [18]:
clf=SVC()

In [ ]:
clf.fit(x_train,y_train)

/home/pritam/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)